* {
	font-family: Tahoma, sans-serif;

}
.header {
	font-size: 24px;
	line-height: 1.5;
	margin: 60px auto;
}
.header span{
	display: block;
}
.form-header {
	font-size: 20px;
	font-weight: 900;

}
.fbtn {
	margin: 12px 0;
	background-color: #472cc3;
}
.form {
	border: 5px solid #472cc3;
	padding: 35px 20px;
}
.form-input {
	margin-top: 12px;
}
.second-header, .third-header {
	font-size: 24px;
	font-weight: 900;
	margin: 60px auto;
}
.clients img{
	margin-bottom: 35px;
}
.second p {
	margin-bottom: 60px;
}
.video {
	margin-bottom: 30px;
}